<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.mapper.HomeMapper">

    <resultMap id="BaseResultMap" type="com.myblog.entity.Home">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="widthValue" column="width_value" jdbcType="INTEGER"/>
        <result property="component" column="component" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="isEnable" column="is_enable" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="listEnableHomeByUser" resultMap="BaseResultMap">
        SELECT DISTINCT h.id,
                        h.name,
                        width_value,
                        component,
                        description,
                        order_num
        FROM t_user_role ur
                 JOIN t_role_home rh ON ur.role_id = rh.role_id
                 JOIN t_home h ON rh.home_id = h.id
        WHERE user_id = #{userId}
        ORDER BY order_num;
    </select>

    <select id="listNotEnableHomeByUser" resultMap="BaseResultMap">
        SELECT DISTINCT h.id,
                        h.name,
                        width_value,
                        component,
                        description
        FROM t_home h
        WHERE h.id NOT IN (SELECT DISTINCT h.id
                           FROM t_user_role ur
                                     JOIN t_role_home rh ON ur.role_id = rh.role_id
                                     JOIN t_home h ON rh.home_id = h.id
                           WHERE user_id = #{userId});
    </select>

    <select id="listEnalbeHomeByRole" resultMap="BaseResultMap">
        SELECT DISTINCT h.id,
                        h.name,
                        width_value,
                        component,
                        description
        FROM t_role r
                  JOIN t_role_home rh ON r.id = rh.role_id
                  JOIN t_home h ON rh.home_id = h.id
        WHERE r.id = #{roleId}
    </select>

    <select id="listNotEnableHomeByRole" resultMap="BaseResultMap">
        SELECT DISTINCT h.id,
                        h.NAME,
                        width_value,
                        component,
                        description
        FROM t_home h
        WHERE h.id NOT IN (SELECT DISTINCT h.id
                           FROM t_role r
                                    JOIN t_role_home rh ON r.id = rh.role_id
                                    JOIN t_home h ON rh.home_id = h.id
                           WHERE r.id = #{roleId})
    </select>
</mapper>
